@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: black;
  color: rgb(227, 231, 235);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

article {
  background-color: rgba(0, 0, 0, 0.6);
}

main {
  margin-top: 70px;
}

.btn {
  background-color: rgb(25, 25, 26, 0.6);
  padding: 7px 20px;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(25, 25, 26);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
